<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>org.jazzteam.servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>org.jazzteam.servlets.Review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <servlet-class>org.jazzteam.servlets.Show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewShow</servlet-name>
        <servlet-class>org.jazzteam.servlets.ReviewShow</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>org.jazzteam.servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings</servlet-name>
        <servlet-class>org.jazzteam.servlets.Settings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>org.jazzteam.servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>org.jazzteam.servlets.AddComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewShow</servlet-name>
        <url-pattern>/ReviewShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/Show</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/Settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.jazzteam.model.persistence.HibernateListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>

</web-app>